<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  {{contacts_form_data}}
  <div>
    <a href="{% url 'budget_new' %}"><span></span></a>
    <form method = "post">
      {% csrf_token %}
      Бюджет: <input type="text" name="name" id="name"> <br>
      Сегодня Вы потратили: <input type="text" name="SpendToday" id="SpendToday"> <br>

      <button type="submit">Создать бюджет</button>
    </form>
  </div>


  {% comment %} {% for user in users %} {% endcomment %}
    {% comment %} <h1>Hello {{ user.name }} !</h1>
  {% endfor %} {% endcomment %}


  {% for budget in budgets %}
    <div>
      <h2>{{ budget.name }}:</h2> 
      <div>
        <h3>Бюджет:
          {{ budget.moneySum }} руб.
        </h3>
    </div> 
    <div>
      <h3>Сегодня Вы потратили:
        {{ budget.SpendToday }} руб.
      </h3>
    </div>
    <div>
      <h3>Всего потрачено:
        {{ budget.SpendSum }} руб.
      </h3>
    </div>
    <div>
      <h3>У Вас осталось:
        {{ budget.calcSpendSum }} руб.
      </h3>
    </div>
    <div>
      <h3>Сегодня Вам доступно:
        {{ budget.AvaibleSumToday }} руб.
      </h3>
    </div>
    <p>{{ budget.DateOFStart|date:"Y-m-d" }}</p>
    </div>
    <hr>
  {% endfor %}
    
</body>
</html>